# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
Client/cric-frontend/dist
Client/cric-frontend/tmp
Client/cric-frontend/out-tsc
Client/cric-frontend/bazel-out

# Node
Server/node_modules
Client/cric-frontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Client/cric-frontend/.vscode/*
Client/cric-frontend/!.vscode/settings.json
Client/cric-frontend/!.vscode/tasks.json
Client/cric-frontend/!.vscode/launch.json
Client/cric-frontend/!.vscode/extensions.json
Client/cric-frontend/.history/*

# Miscellaneous
Client/cric-frontend/.angular/cache
.sass-cache/
Client/cric-frontend/connect.lock
Client/cric-frontend/coverage
Client/cric-frontend/libpeerconnection.log
testem.log
Client/cric-frontend/typings

# System files
.DS_Store
Thumbs.db
