<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1><b> Register</b></h1>
                        <h6>Register Yourself here!</h6>

                    </div>
                    <!-- <form #register="ngForm" (ngSubmit)="submit(register)">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input name="fullname" ngModel #fullname="ngModel" minlength="3" formControlName="fullname"
                                type="text" class="form-control" id="fullName" required>
                            <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)"
                                class="alert alert-danger">

                                <div *ngIf="fullname.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="fullname.errors?.['minlength']">
                                    Name must be at least 4 characters long.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="mobileNumber" class="form-label">Mobile Number</label>
                                <input formControlName="mobile" type="text" class="form-control" id="mobileNumber"
                                    required ngModel>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" required ngModel>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input formControlName="password" type="password" class="form-control"
                                    id="exampleInputPassword1" required ngModel>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input formControlName="confirmPassword" type="password" class="form-control"
                                    id="confirmPassword" required ngModel>
                            </div>
                            <button type="submit" class="btn btn-success">Register</button>
                            <button type="reset" class="btn btn-danger mx-3">Cancel</button>
                    </form> -->






                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control" id="fullName" required>
                        </div>
                        <div class="mb-3">
                            <label for="mobileNumber" class="form-label">Mobile Number</label>
                            <input formControlName="mobile" pattern="^((\\+91-?)|0)?[0-9]{10}$" type="text"
                                class="form-control" id="mobileNumber" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required>

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control"
                                id="exampleInputPassword1" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input formControlName="confirmPassword" type="password" class="form-control"
                                id="confirmPassword" required>
                        </div>
                        <button type="submit" class="btn btn-success">Register</button>
                        <button type="reset" class="btn btn-danger mx-3">Cancel</button>
                    </form>
                    <a style="color: white; margin-top:10px;" routerLink="/login"><b>Already registered?</b> Click here
                        to login!!</a>
                </div>
            </div>
        </div>
    </div>